*{
    padding: 0;
    margin: 0;

}
main{
    width: 480px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#boxImagem #catImagem{
    border-radius: 10px;
    width: 100%;
}
#boxBotao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#boxBotao #botaoChange{
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
    background: #ff440c;
    cursor: pointer;
    border: 0;
}
#boxBotao #botaoChange:hover{
    background: #ffb20c;
    transition: background 800ms;
}